<%= form_with model:movie, class: 'form', local: true do |f| %>
  <div class="field">
    <%= f.label :title, "タイトル" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :explanation, "動画概要" %><br>
    <%= f.label :explanation, "※どの場面でどういったフィールドに適しているのか、購入者がわかりやすいように説明しましょう。" %><br>
    <%= f.text_area :explanation, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :price, "定価" %>￥<br>
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label :video, "紹介動画" %><br>
    <%= f.file_field :video %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>
